<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Product App</title>
        <link rel="stylesheet" href="{% static "css/index.css" %}">
    </head>
    <body>
        <h1> Welcome to our online shopping portal</h1>
        <ul>
            <li><a href = '/productApp/electronics' class='electronics'>Electronics</a></li>
            <li><a href = '/productApp/toys' class='toys'>Toys</a></li>
            <li><a href = '/productApp/shoes' class='shoes'>Shoes</a></li>
        </ul>
    </body>
</html>